[Unit]
Description=DenyHosts synchronisation service
After=syslog.target

[Service]
Type=simple
User=denyhosts-server
Group=denyhosts-server
EnvironmentFile=-/etc/default/denyhosts-server
ExecStart=/usr/local/bin/denyhosts-server -c /etc/denyhosts-server.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
