# section database. All configuration items besides 'type' are passed as-is
# to the database connect() function

# Database settings. Depending on the database type, you can add several
# parameters to connect to the database.

# For sqlite3, just fill in the database filename as "database"
# sqlite3 is not suitable for a high volume server

# For PostgreSQL use the following parameters:
#    type - psycopg2
#    dbname – the database name (only in the dsn string)
#    database – the database name (only as keyword argument)
#    user – user name used to authenticate
#    password – password used to authenticate
#    host – database host address (defaults to UNIX socket if not provided)
#    port – connection port number (defaults to 5432 if not provided)


# For mysql, use the following parameters:
#    host – name of host to connect to. Default: use the local host via a UNIX socket (where applicable)
#    user – user to authenticate as. Default: current effective user.
#    passwd – password to authenticate with. Default: no password.
#    db – database to use. Default: no default database.
#    port – TCP port of MySQL server. Default: standard port (3306).
#    unix_socket – location of UNIX socket. Default: use default location or TCP for remote hosts.
#    connect_timeout – Abort if connect is not completed within given number of seconds. Default: no timeout (?)

[database]
# Type of database. Choice of sqlite3, MySQLdb, psycopg2 (PostgreSQL)
# Default: sqlite3
#type: sqlite3

# Database name. Default: /var/lib/denyhosts-server/denyhosts.sqlite
#database: /var/lib/denyhosts-server/denyhosts.sqlite

# Maximum size of database connection pool. Default: 5
# For high volume servers, set this to 100 or so.
#cp_max: 5

[sync]
# Maximum number of cracker IP addresses reported back to
# denyhosts clients per sync. Default: 50
#max_reported_crackers: 50

#Maximum processing time of the get_New_Hosts service. The timeout value is set to 30seonds on the cliend side so any answer after that would be ignored.
#Also, without capping, the database is so huge that building the list can go super high (several minutes)
#Default: 28
#max_processing_time_get_new_hosts: 28

# TCP port to listen on. Default: 9911
#listen_port: 9911

# Enable debugging methods. See debug_views.py for details.# Default: no
# Default: no
#enable_debug_methods: no

# Legacy server to use as a source of bad hosts, to bootstrap
# the database. Leave empty if you don't want to use a legacy server.
# Set legacy_server to http://xmlrpc.denyhosts.net:9911 in order to
# use the legacy server maintained by the original DenyHosts author
# Default: No legacy server configured.
#legacy_server:

# How often (in seconds) to download hosts from legacy server.
# Default: 300 seconds (5 minutes)
#legacy_frequency: 300

# Threshold value for legacy server. Default: 10
#legacy_threshold = 10

# Resiliency value for legacy server (in seconds)
# Default: 10800 (three hours)
#legacy_resiliency = 10800

[maintenance]
# Maintenance interval in seconds (3600 = one hour; 86400 = one day)
# Default: 3600
#interval_seconds: 3600

# Number of days before reports are expired. Default: 30
#expiry_days: 30

# Number of days before hosts retrieved from legacy server are expired. Default: 30
#legacy_expiry_days: 30

[logging]
# Location of the log file. Default: /var/log/denyhosts-server/denyhosts-server.log
#logfile: /var/log/denyhosts-server/denyhosts-server.log

# Log level. One of CRITICAL, ERROR, WARNING, INFO of DEBUG
# Default: INFO. Set to WARNING for high-volume server
#loglevel: INFO

[stats]
# How often (in seconds) to update the statistics HTML page
# and graphs. Default: 600 (10 minutes)
#update_frequency: 600

# Location of static files. Place the css directory containing
# bootstrap.min.css and the js directory containing bootstrap.min.js
# here. Default: static/ under the project root
#static_dir: static

# Location of graph files. The server will cache the generated statistic
# graph images here. This directory should be writable by the server.
# Default: static/graph
#graph_dir: static/graph

# Location of template files.
# Default: template
#template_dir: template

# Whether to resolve hostnames for the IP addresses in the statistics
# Default: yes
#resolve_hostnames: yes

# TCP port to serve statistics. Can be the same a the listen_port in the
# [sync] section. Default: 9911
#listen_port: 9911

# This section deals with peering. You can configure multiple server to share
# reports with each other in a secure way.
# See README.md for details.

[peering]
# Where to keep the private key of this server. This file is generated automatically.
# Default: private.key
#key_file: private.key 

# For every peer, configure the url and the (32 byte, hex-encoded) public key
# using peer_PEERNAME_url and peer_PEERNAME_key. 
# Default: no peers configured
#
# Example:
#peer_1_url: http://deny1.resonatingmedia.com:9911
#peer_1_key: 1cecef18aa25fca070cb22e110f32bd87dc38ae56d4c7549a0d579f0fba2835d
#peer_2_url: http://deny2.resonatingmedia.com:9911
#peer_2_key: 4a4f9f0a7077e132bbae7eeb663b034d79e804bce25bd30c4a8471415f9d997d
#

