[Unit]
Description=DenyHosts synchronisation service
After=syslog.target

[Service]
Type=simple
User=dh_syncserver
Group=dh_syncserver
EnvironmentFile=-/etc/default/dh_syncserver
ExecStart=/usr/local/bin/dh_syncserver -c /etc/dh_syncserver.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
