<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DenyHosts</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>DenyHosts synchronisation server statistics</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Summary</h3>
      </div>
      <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <table class="table">
                    <tr>
                    <td>Number of clients contributing data</td><td>{{ num_clients }}</td>
                    </tr>
                    <tr>
                    <td>Number of reported hosts</td><td>{{ num_hosts }}</td>
                    </tr>
                    <tr>
                    <td>Total number of reports</td><td>{{ num_reports }}</td>
                    </tr>
                    <tr>
                    <td>Reports in last 24 hours</td><td>{{ daily_reports }}</td>
                    </tr>
                    <tr>
                    <td>New hosts in last 24 hours</td><td>{{ daily_new_hosts }}</td>
                    </tr>
                    </table>
              </div>
              <div class="col-md-6">
                <figure>
                      <embed type="image/svg+xml" src="hourly.svg" />
                </figure>
              </div>
            </div>
          </div>
      </div>
    </div>

{% macro hostlist(title, hostlist) -%}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-striped">
            <tr>
            <th>IP address</th>    
            <th>Host name</th>    
            <th>Country</th>    
            <th>Latest report</th>    
            <th>First report</th>    
            <th>Report count</th>    
            </tr>
            {% for host in hostlist %}
            <tr>
            <td>{{ host.ip_address }}</td>
            <td>{{ host.hostname }}</td>
            <td>{{ host.country }}</td>
            <td>{{ host.latest_time|datetime }}</td>
            <td>{{ host.first_time|datetime }}</td>
            <td>{{ host.total_reports }}</td>
            </tr>
            {% endfor %}
            </table>
      </div>
    </div>
{%- endmacro %}

    {{ hostlist("Recent reports (time in UTC)", recent_hosts) }}

    {{ hostlist("Most reported hosts (time in UTC)", most_reported_hosts) }}

    <div class="center">
      Page last updated at {{ last_updated|datetime }}
    </div>
  </body>
</html>
